body{
    background-image: url(../imagenes/iconos/gastrolat.png);
    background-size: cover;

}
#sub{
    font-family: fantasy;
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: 4px 4px 6px black;
    

}

header{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
     
    position: relative;            
}

#menu{
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    left: 0;
    bottom: 0px;
}

#registro{
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    right: 0;
    bottom: 0px;

}

#registro img{
    width: 120px;
}

#menu img{
    width: 120px;     
}


header h1.titulo{
    font-family: fantasy;
   font-size: 100px;
   text-align: center;
   text-shadow: 4px 4px 6px black;
   color: white;
}

header p.regis{
    position: absolute;
    font-family: fantasy;
    right: 0;
    bottom: 0;  
  
    font-size: 57px;
    color: white;
    text-shadow:4px 4px 6px black;
    
}




#contenedor{
    display: flex;
    gap: 120px;
    justify-content: center;
}